---
---
// External
@import 'external/reset';
@import 'external/syntax';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';

header > p > span {
    margin: 0 1rem;
}

code {
    color: rgba(56, 56, 56, 0.75);
}

.code {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin: 1.5rem 0 1.5rem -1.5rem;
    border-left: 0.5rem solid;
}

h1.title {
    text-shadow: 0 0 15px rgb(56, 56, 56);
}

.html {
    border-left-color: orange;
}

.css {
    border-left-color: deepskyblue;
}

.javascript {
    border-left-color: limegreen;
}

.feature-image header {
    background-position: center;
}