---
layout: default
---

<div class="home">
  {% if site.theme.header_text %}
  <div class="call-out" 
  style="background-image: url('{{ site.baseurl }}/{{ site.theme.header_text_feature_image }}')">
    {{ site.theme.header_text }}
  </div>
  {% endif %}

  <div class="work">
<!--    <h2>Development Samples</h2>-->
    {% for project in site.portfolio limit:6 %}
        <li>
          <img src="{{ project.thumbnail-path | prepend: site.baseurl }}" alt="{{ project.title }}"/>
          <a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
          <p>{{ project.short-description }}</p>
        </li>
    {% endfor %}
	  
  </div>
<!--
  <div class="work">
    <h2>Design Samples</h2>
    {% for project in site.design limit:3 %}
        <li>
          <img src="{{ project.thumbnail-path | prepend: site.baseurl }}" alt="{{ project.title }}"/>
          <a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
          <p>{{ project.short-description }}</p>
        </li>
    {% endfor %}
  </div>
-->
