<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

{% if site.theme.footer_text %}
<footer class="site-footer">
	<!--<p class="text">{{ site.theme.footer_text }}</p>-->
	<p class="text">Thank you for checking out my work. If you would like to see what other people have to say about working with me please checkout some of my reviews on <a href="https://www.linkedin.com/in/sarahbinion">LinkedIn</a>. Otherwise, drop me a line if you'd like to work together, ask me a question, or just say hello.</p>
</footer>
{% endif %}
