article,
.comments {
  @extend %padding-regular;
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
}
article {
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a:hover {
    @extend %link-hover;
  }
  .footnotes {
    font-size: 0.9em;
  }
}
header {
  h1 {
    margin: 0;
  }
  .meta {
    color: rgba($text-color, .5);
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
	display: inline-block;
	padding-right: 10px;
	padding-bottom: 15px;
  }
}
.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
  }
}

.project-info {
  background-color: #23252a;
  border: 2px solid 141516;
  display: inline-block;
	position: fixed;
	left: 130px;
	top: 175px;
  padding: 1%;
  width: 250px;
  height: 300px;
  text-align: left;
	
}

.project-description{
	display: inline-block;
	position: relative;
	top: 0px;
	height: 300px;
	background-color: orange;
	width: 48%;
	height: 300px;
	text-align: left;
}