---
layout: default
---
<article>
	<header>
		<div class="project-info">
			<p class="meta">
			Keywords
			</p>
			<p>
			{% if page.keywords %}
				{{ page.keywords }}
			{% endif %}
			</p>
			<p class="meta">Website</p> 
			<a class="meta" href="http://github.com/srhbinion" style="font-size:1em"><i class="fa fa-fw fa-github"></i></a>
			<p>
			{% if page.link %}
				<a {{ page.link-github }}>{{ page.link }}</a>
			{% endif %}
			</p>
		</div>
		<div class="project-description">
			<h1 class="title">{{ page.title }}</h1>
			<p>{% if page.description %}
				{{ page.description }}
			{% endif %}
			</p>
		</div>
		
	</header>
	
  	<section>
		{{ content }}
	</section>
</article>

<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}