---
layout: default
---
<article>
	<header>
		<div class="project-info">
			<p class="meta">
			Keywords
			</p>
			<p>
			{% if page.keywords %}
				{{ page.keywords }}
			{% endif %}
			</p>
			<p class="meta">Website</p>
            {% if page.link-github %}
			     <a class="meta" href="{{ page.link-github }}" style="font-size:1em"><i class="fa fa-fw fa-github"></i></a>
           {% endif %}
			<p>
			{% if page.link %}
                <a href="{{ page.link }}">
            {% endif %}
            {% if page.link-name %}
                    {{ page.link-name }}</a>
            {% endif %}
			</p>
		</div>
		<div class="project-description">
			<h1 class="title">{{ page.title }}</h1>
			<p>{% if page.description %}
				{{ page.description }}
			{% endif %}
			</p>
		</div>
		
	</header>
	
  	<section>
        <h5 class="back-btn">
			<a href="{{ site.baseurl }}/">BACK</a>
		</h5>
		{{ content }}
	</section>
</article>

<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}