// Typography
$font-family-main: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-headings: 'Open Sans', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #1f2529;
$background-color: #1f2529;
$border-color: rgba(255, 255, 255, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #e9e9e9;
$link-color: #82f7e0;
$selection-color: #959494; // visible when highlighting text

// Header colours
$header-link-color: #e9e9e9;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #106553;
$header-desc-text-color: #FFF;

// Code blocks
$code-block-background-color: #161515;
