// Typography
$font-family-main: 'Open Sans', sans-serif;
$font-family-headings: 'Merriweather', serif;
$font-size: 1.25em;

// Padding
$padding-large: 10%;
$padding-small: 5%;
$padding-x-small: 3%;

// Top Bar / Brand colors
$brand-color:  #2c2f35;
$background-color: #2c2f35;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #fff;
$link-color: #64c3b3;
$selection-color: #af986e; // visible when highlighting text

// Top Bar Header colors
$header-link-color: #fff;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #23252a;
$header-desc-text-color: #FFF;